:host {
  display: block;
}

.options {
  text-align: left;
  margin-top: 24px;
}

.options div:first-of-type {
  margin-top: 8px;
}

.radio-item {
  display: flex;
  margin-top: 16px;
}

.radio-item:first-of-type {
  margin-top: 0;
}

.radio-item label {
  flex: 1;
  margin-left: 8px;
}

.radio-item input {
  appearance: none;

  width: 20px;
  height: 20px;

  background: url('../../../assets/images/unchecked.png') no-repeat;
  background-size: contain;

  margin-top: 2px;

  transition: 0.2s all linear;

}

.radio-item input:checked {
  background: url('../../../assets/images/checked.png') no-repeat;
  background-size: contain;
}

.textarea {
  position: relative;
  margin-top: 8px;
  box-sizing: border-box;
  line-height: 0;
}
.textarea textarea {
  border: none;
  resize: none;
  outline: none;
  width: 100%;
  height: 100%;
  background: #f4f5f7;
  border-radius: 8px;
  margin-right: 8px;
  box-sizing: border-box;
}

.textarea span {
  position: absolute;
  height: 14px;
  font-size: 10px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(33, 33, 38, 0.4);
  line-height: 14px;
  bottom: 6px;
  right: 12px;
}
