.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* visibility: hidden; */
}
.verify-code {
  margin: 24px 16px auto;
}

.send-verify-code {
  height: 20px;
  font-size: 14px;
  font-family: Gotham-Medium, Gotham;
  font-weight: 500;
  color: #e64c3d;
  line-height: 20px;
}
.send-verify-code.active {
  color: rgba(45, 49, 50, 0.4);
}

#captcha {
  margin-top: 16px;
}

.captcha-hidden {
  position: relative;
  height: 0;
  overflow: hidden;
}

.captcha-tip {
  margin-top: 16px;
  height: 18px;
  font-size: 12px;
  font-family: Gotham-Book, Gotham;
  font-weight: normal;
  line-height: 18px;
  color: #b93043;
  transition: all 300ms ease;
}

.privacy-clause-title {
  height: 30px;
  font-size: 20px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #111111;
  line-height: 30px;
}
.privacy-clause-content {
  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(17, 17, 17, 0.7);
  line-height: 24px;
  text-align: left;
  white-space: pre-wrap;
  margin-top: 16px;
}
